.container {
  font-family: fantasy;
  font-size: 100px;
  color: yellow;
  width: 100%;
  max-width: 1200px;
  /* Adjust the max-width according to your design */
  margin: 0 auto;
  /* Center the container */
}